 .zone {
      position: relative;
      height: 200px;
      border: 1px solid #000000;
      margin: 2rem 0;
    }
    .zone .col-4 {
      position: absolute;
      background-color: #be1b2b;
      color: #ffffff;
      padding: 1rem;
      text-align: center;
    }
    .col1 { top: 0; left: 0; }
    .col2 { top: 50%; left: 50%; transform: translate(-50%, -50%); }
    .col3 { bottom: 0; right: 0; }